@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: 0 0% 100%;
  --background-hex: 0 0% 6%;

  --primary-hex: 24 65% 55%;
  --secondary-hex: 0 0% 82%;
  --tertiary-hex: 0 0% 15%;

  --disabled-hex: 0 0% 41%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: hsl(var(--foreground-hex));
  background: hsl(var(--background-hex));
}

a {
  color: inherit;
  text-decoration: none;
}
